<!-- <form>
  <mat-form-field>
    <mat-select id="department" placeholder="State" (selectionChange) = "changedata($source)" >
      <mat-option>None</mat-option>
      <mat-option *ngFor="let dept of departments" [value]="dept.id">{{dept.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select id="department" placeholder="Employees"  >
      <mat-option>None</mat-option>
      <mat-option *ngFor="let empobj of finaldata" [value]="empobj.eid">{{empobj.empname}}</mat-option>
    </mat-select>
  </mat-form-field>

</form> -->


<form>
  <mat-form-field>
    <mat-select placeholder="departments" [(ngModel)]="selectedDeptValue" name="food" (selectionChange) = "changedata()" >
        <mat-option >All departments</mat-option>
      <mat-option *ngFor="let dept of departments" [value]="dept.id">{{dept.name}}</mat-option>
    </mat-select>
  </mat-form-field>

  <p> Selected value: {{selectedDeptValue}} </p>
  <mat-form-field>
      <mat-select id="department" placeholder="Employees"  >
        <mat-option>All Employees</mat-option>
        <mat-option *ngFor="let empobj of finaldata" [value]="empobj.eid">{{empobj.empname}}</mat-option>
      </mat-select>
    </mat-form-field>
</form>

<!-- <div class="form-group">
  <label for="department">Department</label>
  <select id="department"   (change) = "changedata($event)" [(ngModel)]="dep"
          class="form-control">
    <option *ngFor="let dept of departments" [value]="dept.id">
      {{dept.name}}
    </option>
  </select><br/>
  <label for="emp">Employees</label>
  <select id="emp" class="form-control">
    <option *ngFor="let empobj of finaldata">
     {{empobj.empname}}
    </option>
  </select>
 </div> -->
